<div class="homepage-hero-module">
	<div class="video-container">
		<div class="filter"></div>
		<video autoplay loop class="fillWidth">
    		<source src="bg-vid/MP4/abcd.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    		<source src="bg-vid/WEBM/abcd.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
		</video>
		<div class="poster hidden">
    		<img src="bg-vid/Snapshots/abcd.jpg" alt="">
		</div>
	</div>
</div>